h1 {
    font-size: 60px;
    color: #00AFFF;
    font-weight: bold;
    font-style: italic;
}
.twitter_logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    right: 20px;
}

img {
    width: 400px;
    height: 210px;
}
div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}